<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="justify-content-start mx-5">
      <i class="fas fa-key fa-3x"></i
      ><a href="/" class="display-4 mx-1">Secrets</a>
    </div>
    <div class="justify-content-end">
      <div class="dropdown mx-5">
  <button class="btn btn-success dropdown-toggle" type="button" id="username" data-bs-toggle="dropdown" aria-expanded="false">
    User Name
  </button>
  <ul class="dropdown-menu" aria-labelledby="username">
    <li><a class="btn btn-light btn-lg dropdown-item" href="/logout" role="button">Log Out</a></li>
    <li><a class="btn btn-dark btn-lg dropdown-item" href="/submit" role="button">Submit a Secret</a></li>
  </ul>
    </div>
  </div>
</nav>
