<%- include('partials/header') %>
  <%- include('partials/navbar') %>

    <div class="jumbotron">
      <div class="container">
        <div class="text-center">
          <i class="fas fa-key fa-6x"></i>
          <h1 class="display-5 heading text-center">You've Discovered A Lot of Secrets!</h1>
        </div>

        <% usersWithSecrets.forEach((user, userIndex)=> { %>
          <% user.secrets.forEach((secret, secretIndex)=> { %>
            <div class="secret-container">
              <p class="secret-text">
                <%= secret %>
              </p>
            </div>
            <% }) %>
              <% }) %>
      </div>
    </div>

    <%- include('partials/footer') %>