body {
  background-color: #E8ECEF;
}

.centered {
  padding: 100px 40px 0 0;
  text-align: center;
}


.secret-container {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #000;
}

.secret-text {
  margin: 0;

}

.delete-button {
  outline: none;
  background: none;
  border: none;
}

.bi {
  font-size: 2rem;
  color: #000;
}

span a,
.bi:hover {
  color: #000;
}

span a:hover,
.bi:hover {
  text-decoration: none;
  color: #007bff;
}

@media screen and (max-device-width: 480px) {

  body {
    font-size: 16px;
  }

  .footer-text {
    font-size: 2rem;
  }

  .secret-text {
    font-size: 3rem;
  }

  .heading {
    font-size: 4rem;
  }

  .lead {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }

  .submit-text {
    margin-top: 100px;
  }

  textarea {
    font-size: 2rem;
  }
}