body {
  background-color: #E8ECEF;
}

.centered {
  padding: 100px 40px 0 0;
  text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}
.bi {
  font-size: 2rem;
  color: #000;
}

span a,
.bi:hover {
  color: #000;
}

span a:hover,
.bi:hover {
  text-decoration: none;
  color: #007bff;
}

@media screen and (max-device-width: 480px) {

  body{
    font-size: 16px;
  }
  .footer-text{
    font-size: 2rem;
  }

  .secret-text{
    font-size: 3rem;
  }

  .heading {
    font-size: 4rem;
  }

  .lead {
    font-size: 2rem;
  }

  .btn {
    font-size: 2rem;
  }
  .submit-text{
    margin-top: 100px;
  }
  textarea{
    font-size: 2rem;
  }
}